.duo-range
  width: 200px
  position: relative
  z-index: 1

  .handle
    height: 12px
    width: 12px
    background: radial-gradient(#FDFDFD, #D6D6D6)
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,.4)
    position: absolute
    border-radius: 6px
    margin-left: -6px
    margin-top: -6px
    cursor: move

    &.right
      left: 100%

    &.left
      left: 0