.animation--pulsing-border
  animation-name: pulsing-border
  animation-duration: 2s
  animation-iteration-count: infinite

@keyframes pulsing-border
  0%
    box-shadow: 1px -1px 7px rgba(255,255,255,.3)

  50%
    box-shadow: 1px -1px 7px rgba(255,255,255,.8)

  100%
    box-shadow: 1px -1px 7px rgba(255,255,255,.3)