#communication-panel
  position: fixed
  top: 0
  right: 0
  height: 100%
  width: 450px
  background-color: lighter-darkgrey-background
  border-left: 1px solid #444
  z-index: 1
  box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.2)

.communication-panel-stream
  margin: 0
  padding: 0
  display: inline-block
  width: 50% !important

  &:first-child
    display: block
    width: 450px !important
    height: 338px !important