.buffered-piece-edit-container
  padding: 10px 0px

  .curtain
    position: relative

    .left, .right
      position: absolute
      height: 80px
      background-color: rgba(0,0,0,.3)
      padding-bottom: 5px
      width: 30px

    .left
      left: 0
      border-bottom-left-radius: piece-border-radius
      border-top-left-radius: piece-border-radius

    .right
      right: 0
      border-bottom-right-radius: piece-border-radius
      border-top-right-radius: piece-border-radius

  .vertical-button-container
    float: left
    margin-right: 10px

  .range-container
    float: left