#progress-line
  width: 1px
  height: 800px
  position: absolute
  left: 10px
  top: 0
  background-color: blue-glowy
  z-index: 1

#progress-line.animated
  transition-property: left
  transition-timing-function: linear

#progress-line.notAnimated
  transition-property: none