track-height = 110px
track-settings-gutter = 180px
master-track-height = 40px

piece-border-radius = 5px
piece-height = 80px

// colors
blue-glowy = #288EDF
blue-highlight = #7EBDDD
grey-highlight = #58595A
darkgrey-background = #4A4D4E
lighter-darkgrey-background = lighten(darkgrey-background, 15%)
grey-background = lighten(darkgrey-background, 75%)
white-font = #F0F1F1
remove-red = rgba(180,0,0,.8)