doctype 5
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Web Audio Editor

    link(rel="icon", type="image/png", href="/images/bear.png")
    link(rel='stylesheet', href='/css/vendor.css')
    link(rel='stylesheet', href='/css/app.css')
    block head

  body

    block content