extends base-layout

block content
  h1 Web Audio Editor

  iframe(src="//player.vimeo.com/video/96477738", width="500", height="281", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)