.controls
  button(class="topcoat-button--large play-pause")
    .icon-play
  button(class="topcoat-button--large stop")
    .icon-stop
  input(type="range", class="topcoat-range gain", min="0", max="2", step="0.1")

  input(type="range", class="topcoat-range zoom", min="10", max="200", step="10", value="30")

  button(class="topcoat-button--large record-mock") Record
  button(class="topcoat-button--large add-track") Add Track

hr