.controls
  label= title
    input(type="range", class="topcoat-range gain", min="0", max="2", step="0.1")

  .track-settings.topcoat-button-bar
    .topcoat-button-bar__item
      button(class="topcoat-button-bar__button mute") Mute
    .topcoat-button-bar__item
      button(class="topcoat-button-bar__button solo") Solo
    .topcoat-button-bar__item
      button(class="topcoat-button-bar__button effects") Effects

.pieces